---
name: Build

on:
  workflow_call:

jobs:
  package:
    runs-on: "ubuntu-latest"
    steps:
      - name: Placeholder
        run: true

  e2e:
    runs-on: "ubuntu-latest"
    needs:
      - package
    steps:
      - name: Placeholder
        run: true
