---
name: CI

on:
  - push
  - pull_request

permissions:
  contents: read

jobs:
  package:
    runs-on: "ubuntu-latest"
    steps:
      - name: Placeholder
        run: true

  test:
    runs-on: "ubuntu-latest"
    steps:
      - name: Placeholder
        run: true

  e2e:
    runs-on: "ubuntu-latest"
    needs:
      - package
    steps:
      - name: Placeholdder
        run: true

  release:
    runs-on: "ubuntu-latest"
    needs:
      - package
      - test
      - e2e
    steps:
      - name: Placeholder
        run: true
