---
name: CI

on:
  - push
  - pull_request

permissions:
  contents: read

jobs:
  package-sdist:
    runs-on: "ubuntu-latest"
    steps:
      - name: Placeholder
        run: true

  package-srpm:
    runs-on: "ubuntu-latest"
    needs:
      - package-sdist
    steps:
      - name: Placeholder
        run: true

  package-centos7:
    runs-on: "ubuntu-latest"
    needs:
      - package-srpm
    steps:
      - name: Placeholder
        run: true

  e2e-centos7:
    runs-on: "ubuntu-latest"
    needs:
      - package-centos7
    steps:
      - name: Placeholder
        run: true

  package-centos8:
    runs-on: "ubuntu-latest"
    needs:
      - package-srpm
    steps:
      - name: Placeholder
        run: true

  e2e-centos8:
    runs-on: "ubuntu-latest"
    needs:
      - package-centos8
    steps:
      - name: Placeholder
        run: true

  package-fedora:
    runs-on: "ubuntu-latest"
    needs:
      - package-srpm
    steps:
      - name: Placeholder
        run: true

  e2e-fedora:
    runs-on: "ubuntu-latest"
    needs:
      - package-fedora
    steps:
      - name: Placeholder
        run: true

  test:
    runs-on: "ubuntu-latest"
    steps:
      - name: Placeholder
        run: true

  e2e:
    runs-on: "ubuntu-latest"
    needs:
      - e2e-centos7
      - e2e-centos8
      - e2e-fedora
    steps:
      - name: Placeholder
        run: true

  release:
    runs-on: "ubuntu-latest"
    needs:
      - package-sdist
      - package-srpm
      - package-centos7
      - package-centos8
      - package-fedora
      - test
      - e2e
    steps:
      - name: Placeholder
        run: true
