---
name: CI

on:
  - push
  - pull_request

permissions:
  contents: read

jobs:
  package-sdist:
    runs-on: "ubuntu-latest"
    steps:
      - name: Placeholder
        run: true

  package-srpm:
    runs-on: "ubuntu-latest"
    needs:
      - package-sdist
    steps:
      - name: Placeholder
        run: true

  package-centos7-rpm:
    runs-on: "ubuntu-latest"
    needs:
      - package-srpm
    steps:
      - name: Placeholder
        run: true

  package-centos8-rpm:
    runs-on: "ubuntu-latest"
    needs:
      - package-srpm
    steps:
      - name: Placeholder
        run: true

  package-fedora-rpm:
    runs-on: "ubuntu-latest"
    needs:
      - package-srpm
    steps:
      - name: Placeholder
        run: true

  test:
    runs-on: "ubuntu-latest"
    steps:
      - name: Placeholder
        run: true

  fedora:
    uses: .github/workflows/build.yml@HEAD

  e2e:
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        include:
          - source-job: package-sdist
            target: e2e-sdist
          - source-job: package-centos7-rpm
            target: e2e-centos7
          - source-job: package-centos8-rpm
            target: e2e-centos8
          - source-job: package-fedora-rpm
            target: e2e-fedora
    needs:
      - package-sdist
      - package-centos7-rpm
      - package-centos8-rpm
      - package-fedora-rpm
    steps:
      - name: Placeholdder
        run: echo ${{ matrix.target }}

  release:
    runs-on: "ubuntu-latest"
    needs:
      - package-sdist
      - package-srpm
      - package-centos7-rpm
      - package-centos8-rpm
      - package-fedora-rpm
      - test
      - e2e
    steps:
      - name: Placeholder
        run: true
